<h1>Movies List</h1>

<table>


<tr>
    <th>Poster  </th>
    <th>Title  </th>
    <th>Year  </th>
    <th>Description  </th>
    <th>Edit/Delete</th>
</tr>
{% for movie_obj in movies %}
<tr>
    <td><h2>{{movie_obj.title | upper}}</h2>
    {% if movie_obj.poster %}
    <img src="{{movie_obj.poster.url}}"></img>
    {% endif %}
    </td>
    <td><h4>{{movie_obj.year }}</h4></td>
    <td><h4>{{movie_obj.description }}</h4></td>
    <td><a href="{% url 'edit' movie_obj.id %}">edit</a>/<a href="{% url 'delete' movie_obj.id %}">delete</a></td>
</tr>

{% endfor %}
</table>